<ul id="slide-out" class="sidenav ">
    <li class="center-align logo">
        <img src="/images/logo_trackit.png" alt="Trackit" class="responsive-img">
    </li>
    <li><div class="divider"></div></li>
    <li><a class="waves-effect" href="{{ path_for('registration.create', {'id': product_id}) }}">Registro asistentes<i class="mdi mdi-account-group"></i></a></li>
    <li><a class="waves-effect" href="#0">API<i class="mdi mdi-database"></i></a></li>
    <li><a class="waves-effect" href="#0">Guía usuario<i class="mdi mdi-file-pdf"></i></a></li>
    <li><a class="waves-effect" href="#0">Soporte<i class="mdi mdi-help"></i></a></li>
    <li><div class="divider"></div></li>
    <li><a class="waves-effect" href="{{ path_for('auth.signout') }}">Cerrar sesión<i class="mdi mdi-logout"></i></a></li>
</ul>