<ul id="slide-out" class="sidenav ">
    <li class="center-align">
        <img src="/images/logo_trackit.png" alt="Trackit" class="imgresponsive-img">
    </li>
    <li><div class="divider"></div></li>
    <li><a class="waves-effect" href="{{ path_for('auth.signout') }}"></a></li>
</ul>