<!doctype html>
<html class="no-js" lang="es">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <!-- Page Title Here -->
        <title>Trackit suite</title>
        <!-- Page Description Here -->
        <meta name="description" content="Trackit suite, el sistema de gestión de eventos definitivo">
        <!-- Disable screen scaling-->
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, user-scalable=0">
        <!-- <link rel="apple-touch-icon" href="apple-touch-icon.png"> -->

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

        <link rel="stylesheet" type="text/css" href="/css/style.css"/>
        <link rel="stylesheet" type="text/css" href="/css/menu.css"/>

        {% block styles %}{% endblock %}
    </head>

    <body>
        <div id="wrapper">
            <div class="overlay"></div>
            <!-- Sidebar -->
            <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
                <ul class="nav sidebar-nav">
                    <li class="sidebar-brand">
                        <a href="#">
                           Trackit
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Preferencias <span class="caret"></span></a>
                        <div class="dropdown-menu" role="menu">
                            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="https://api.trackitsuite.com">
                        </div>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Ayuda<span class="caret"></span></a>
                        <div class="dropdown-menu" role="menu">
                            <p>Por defecto, no debe introducir la ip a menos que no se disponga de conexión a internet. En ese caso, el administrador le proporcionará la ip del servidor local.</p>
                            <p>Introduzca su usuario y la contraseña.La sesión se bloqueará automáticamente fuera de los horarios establecidos para el evento. Una vez logueado, se muestra un resumen del evento.Escaneo de códigos QR.</p>
                            <p>En la pantalla aparecerán distintos mensajes de incidencia identificados por un color : Color verde,Usuario validado correctamente y Color rojo : Muestra un código de error</p>
                            <p>Si no lee el código QR, se puede realizar una inserción manual del código alfanumérico que aparece junto a él. Es posible crear nuevos registros para el evento.</p>
                            <p>En el formulario de registro hay tres campos que deben ser rellenados obligatoriamente : Nombre,Apellidos,Correo Electrónico</p>
                            <p>El usuario recibirá un correo de validación</p>
                        </div>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Créditos<span class="caret"></span></a>
                        <div class="dropdown-menu" role="menu">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
                        </div>
                    </li>
                    <li>
                        <a href="https://szimek.github.io/signature_pad/">Firma</a>
                    </li>
                    <li>
                        <a href="{{ path_for('auth.signout') }}">Cerrar Sesión</a>
                    </li>
                </ul>
            </nav>
            <!-- /#sidebar-wrapper -->
            <!-- Page Content -->
            <div id="page-content-wrapper">
                <div class="menu-wrapper">
                    <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
                        <span class="hamb-top"></span>
                        <span class="hamb-middle"></span>
                        <span class="hamb-bottom"></span>
                    </button>
                    {% block menu %}{% endblock %}
                </div>
                <div class="container-fluid no-gap">
                    <div class="row">
                        <div class="col-xs-12">
                            {% include 'partials/flash.twig' %}
                        </div>
                    </div>
                    {% block content %}{% endblock %}
                    {% block footer %}{% endblock %}
                </div>
            </div>
        </div>

        <!-- All Javascript plugins goes here -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <script src="{{ base_url() }}/js/menu.js"></script>

        {% include 'partials/analytics.twig' %}

        {% block scripts %}{% endblock %}
    </body>

</html>
