@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/Rubik-Regular.eot); /* For IE6-8 */
    src: local('Rubik'),
         local('Rubik-Regular'),
         url(../fonts/Rubik-Regular.woff2) format('woff2'),
         url(../fonts/Rubik-Regular.woff) format('woff'),
         url(../fonts/Rubik-Regular.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/Rubik-Bold.eot); /* For IE6-8 */
    src: local('Rubik'),
         local('Rubik-Bold'),
         url(../fonts/Rubik-Bold.woff2) format('woff2'),
         url(../fonts/Rubik-Bold.woff) format('woff'),
         url(../fonts/Rubik-Bold.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 900;
    src: url(../fonts/Rubik-Black.eot); /* For IE6-8 */
    src: local('Rubik'),
         local('Rubik-Black'),
         url(../fonts/Rubik-Black.woff2) format('woff2'),
         url(../fonts/Rubik-Black.woff) format('woff'),
         url(../fonts/Rubik-Black.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 200;
    src: url(../fonts/Rubik-Light.eot); /* For IE6-8 */
    src: local('Rubik'),
         local('Rubik-Light'),
         url(../fonts/Rubik-Light.woff2) format('woff2'),
         url(../fonts/Rubik-Light.woff) format('woff'),
         url(../fonts/Rubik-Light.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300;
    src: url(../fonts/Rubik-Medium.eot); /* For IE6-8 */
    src: local('Rubik'),
         local('Rubik-Medium'),
         url(../fonts/Rubik-Medium.woff2) format('woff2'),
         url(../fonts/Rubik-Medium.woff) format('woff'),
         url(../fonts/Rubik-Medium.ttf) format('truetype');
  }

body {
    background-color: #0051b2;
    height: 100vh;
    position: relative;
    font-family: 'Rubik', Arial, Helvetica, sans-serif;
    font-size: 14px;
}
body:before {
    content: '';
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 0;
    top: 0;
    background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%, rgba(0,0,0,0.25) 100%);
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%,rgba(0,0,0,0.25) 100%);
    background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%,rgba(0,0,0,0.25) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#0051b2',GradientType=1 );
}
header, main {
    position: relative;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0;
    color: #FFFFFF;
    background-color: transparent;
}
nav {
    background-color: #0051b2;
}
nav .btn-floating {
    margin-top: 4px;
}
nav .btn-floating.right {
    margin-right: 5px;
}
nav .btn-floating.right:first-child {
    margin-right: 10px;
}
nav .logo-menu {
    margin-right: 100px;
    max-height: 58px;
    margin-top: 2px;
}
.mb-0 {
    margin-bottom: 0;
}
.sidenav {
    background-color: #0051b2;
    color: rgba(255, 255, 255, 0.5);
}
.sidenav .subheader {
    color: rgba(255, 255, 255, 0.5);
}
.sidenav .divider {
    background-color: rgba(255, 255, 255, 0.2);
}
.sidenav li a {
    color: rgba(255, 255, 255, 0.5);
}
.sidenav li a i.material-icons {
    color: rgba(255, 255, 255, 0.5);
}
.btn-clear {
    margin-top: 6px;
}
.btn-search {
    margin-top: 10px;
}
.btn-search i,
.btn-clear i {
    font-size: 2.6em;
}
table thead tr th {
    color: #000;
    font-weight: 200;
}
table thead tr th:last-child,
table thead tr td:last-child {
    text-align: center;
}
input {
   height: 4em !important;
}
input,
input + label {
    padding-left: 10px !important;
}
input + label {
    padding-top: 5px;
    font-size: 18px !important;
}
input + label.active,
input:focus + label.active {
    padding-top: 0;
    top: -10px;
    padding-left: 0 !important;
    color: azure !important;
}
input.valid {
    border-bottom: 1px solid #4CAF50;
    -webkit-box-shadow: 0 1px 0 0 #4CAF50;
    box-shadow: 0 1px 0 0 #4CAF50;
}
input + label.active {
    margin-top: -4px;
}
.logo-login {
    position: relative;
}
.closer {
    padding: 5px;
}
@media only screen and (min-width: 601px;) {
    .container {
        width: 95%;;
    }
}