
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/Rubik-Regular.eot); /* For IE6-8 */
    src: local('Rubik'),
         local('Rubik-Regular'),
         url(../fonts/Rubik-Regular.woff2) format('woff2'),
         url(../fonts/Rubik-Regular.woff) format('woff'),
         url(../fonts/Rubik-Regular.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/Rubik-Bold.eot); /* For IE6-8 */
    src: local('Rubik'),
         local('Rubik-Bold'),
         url(../fonts/Rubik-Bold.woff2) format('woff2'),
         url(../fonts/Rubik-Bold.woff) format('woff'),
         url(../fonts/Rubik-Bold.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 900;
    src: url(../fonts/Rubik-Black.eot); /* For IE6-8 */
    src: local('Rubik'),
         local('Rubik-Black'),
         url(../fonts/Rubik-Black.woff2) format('woff2'),
         url(../fonts/Rubik-Black.woff) format('woff'),
         url(../fonts/Rubik-Black.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 200;
    src: url(../fonts/Rubik-Light.eot); /* For IE6-8 */
    src: local('Rubik'),
         local('Rubik-Light'),
         url(../fonts/Rubik-Light.woff2) format('woff2'),
         url(../fonts/Rubik-Light.woff) format('woff'),
         url(../fonts/Rubik-Light.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300;
    src: url(../fonts/Rubik-Medium.eot); /* For IE6-8 */
    src: local('Rubik'),
         local('Rubik-Medium'),
         url(../fonts/Rubik-Medium.woff2) format('woff2'),
         url(../fonts/Rubik-Medium.woff) format('woff'),
         url(../fonts/Rubik-Medium.ttf) format('truetype');
  }

body {
    background-color: #0051b2;
    height: 100vh;
    position: relative;
    font-family: 'Rubik', Arial, Helvetica, sans-serif;
    font-size: 14px;
}
body:before {
    content: '';
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 0;
    top: 0;
    background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%, rgba(0,0,0,0.25) 100%);
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%,rgba(0,0,0,0.25) 100%);
    background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%,rgba(0,0,0,0.25) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#0051b2',GradientType=1 );
}
header, main {
    position: relative;
}
footer {
    color: #FFFFFF;
    background-color: transparent;
}
nav {
    background-color: #0051b2;
}
nav .btn-floating {
    margin-top: 4px;
}
nav .btn-floating.right {
    margin-right: 5px;
}
nav .btn-floating.right:first-child {
    margin-right: 10px;
}
nav .logo-menu {
    margin-right: 100px;
    max-height: 58px;
    margin-top: 2px;
}
.mb-0 {
    margin-bottom: 0;
}
.mr-10 {
    margin-right: 10px;
}
.mb-10 {
    margin-bottom: 10px;
}
.sidenav {
    background-color: #0051b2;
    color: rgba(255, 255, 255, 0.5);
}
.sidenav .subheader {
    color: rgba(255, 255, 255, 0.5);
}
.sidenav .divider {
    background-color: rgba(255, 255, 255, 0.2);
}
.sidenav li a {
    color: #FFFFFF;
    text-transform: uppercase;
}
.sidenav li a i.mdi {
    color: #FFFFFF;
    font-size: 2em;
}
.btn-clear {
    position: absolute;
    right: 14px;
    top: 4px;
    z-index: 0;
    opacity: 0.1;
}
.btn-search i,
.btn-clear i {
    font-size: 2.6em;
}
#list tbody tr td  {
    padding-top: 5px;
    padding-bottom: 5px;
}
#list tbody tr td:first-child span {
    text-transform: capitalize;
    font-weight: 300;
    color: #141414
}
table thead tr th {
    color: #000;
    font-weight: 200;
}
table thead tr th:last-child,
table tbody tr td:last-child {
    text-align: center;
}
table thead tr th:first-child,
table tbody tr td:first-child {
    text-align: left;
}
#list  tbody tr td:nth-child(2) {
    text-transform: uppercase;
}
#list  tbody tr td:last-child i {
    font-size: 40px;
}
#list tbody tr td:last-child i.mdi-block-helper {
    font-size: 20px;
}
input {
   height: 4em !important;
}
input,
input + label {
    padding-left: 10px !important;
    width: calc(100% - 10px) !important;
}
input + label {
    padding-top: 5px;
    font-size: 18px !important;
}
input + label.active,
input:focus + label.active {
    padding-top: 0;
    top: -10px;
    padding-left: 0 !important;
    color: azure !important;
}
input.valid {
    border-bottom: 1px solid #4CAF50;
    -webkit-box-shadow: 0 1px 0 0 #4CAF50;
    box-shadow: 0 1px 0 0 #4CAF50;
}
input + label.active {
    margin-top: -4px;
}
.logo-login {
    position: relative;
}
.closer {
    padding: 5px;
}
.modal .modal-content p {
    font-size: 1.5em;
}
.modal p span.type {
    font-size: 1.2rem;
    font-style: oblique;
}
.charts-container {
    display: block;
    height: auto;
    outline: 1px;
    transition: .5s all;
    list-style-type: none;
    padding-left: 0;
    padding-bottom: 0px;
    color: #222;
    margin: 0 auto;
    text-align: center;
}
.charts-container li {
    display: inline-block;
    margin: 0 30px;
    padding: 0;
    line-height: 18px;
    overflow: hidden;
    min-width: 150px;
    max-width: 150px;
}
.chart {
    position: relative;
    margin: 0 auto;
    display: block;
}
.chart canvas {
    width: 97% !important;
    height: 97% !important;
}

.chart .inside-values {
    font-size: 12px;
    line-height: 30px;
    text-align: center;
    display: block;
    position: absolute;
    width: 100%;
    top: calc(50% - 18px);
    bottom: calc(50% - 20px);
}
.chart .inside-values span:first-child {
    font-size: 21px;
}
.chart-title {
    margin: 0 auto;
    text-align: center;
    font-size: 14px;
    font-weight: 200;
    letter-spacing: .5px;
}
.chart-title i {
    display: inline-block;
    margin-top: 2px;
}
#count-registrations,
#count-verifications {
    color: #2BAAB1;
}
#count-speakers,
#count-verified-speakers {
    color: #007bff;
}
#count-vips,
#count-verified-vips {
    color: #6f42c1;
    font-weight: 400;
}
#count-registrations,
#count-speakers,
#count-vips {
    font-size: 18px;
    font-weight: 400;
}
audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline;
    width: 100%;
}
@media(min-width:576px){
    .container {
        width: 95%;;
    }
}
@media(min-width:768px){
    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        padding: 0;
    }
}
@media(min-width:992px){}
@media(min-width:1200px){}