body,
html {
    height: 100%;
}
.no-gap {
    padding: 0;
}
.trackit {
    padding: 15px 0;
}
body {
    background-color: #0051b2;
    height: 100vh;
    position: relative;
    font-size: 18px;
}
button {
    background-color: transparent;
    border: 0 none;
}

.overlay {
    content: '';
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%, rgba(0,0,0,0.25) 100%);
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%,rgba(0,0,0,0.25) 100%);
    background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%,rgba(0,0,0,0.25) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#0051b2',GradientType=1 );
}
.img-block {
    margin: 0 auto;
}
.logo img {
    width: 60%;
    margin-top: 15px;
}
.logo-mobile img {
    max-width: 65px;
    margin: 0 0 0 60px;
}

input.form-control,
select.form-control,
input.form-control {
    border-radius: 0;
    border: 0 none;
    height: 40px;
    padding-left: 15px;
    box-shadow: none;
    background-color: #eaeaea;
}
.btn {
    min-height: 30px;
    line-height: 20px;
}

input.search {
    border-radius: 6px;
}
input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #000000;sdadsa
}
input::-moz-placeholder { /* Firefox 19+ */
  color: #000000;
}
input:-ms-input-placeholder { /* IE 10+ */
  color: #000000;
}
input:-moz-placeholder { /* Firefox 18- */
  color: #000000;
}
body {
    position: relative;
    overflow-x: hidden;
}
.menu-wrapper {
    background-color: #0051b2;
    height: 80px;
    padding: 5px 0;
    position: fixed;
    top: 0;
    width:  100%;
    z-index: 2;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
    background-color: transparent;
}
.navbar a {
    display: block;
}
.navbar a:hover {
    opacity: .6;
}
/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/
#wrapper {
    padding-left: 0;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
#wrapper.toggled {
    padding-left: 260px;
}

#sidebar-wrapper {
    z-index: 1000;
    left: 260px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 0;
    height: 100%;
    margin-left: -260px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    background: #0051b2;
}
#sidebar-wrapper::-webkit-scrollbar {
    display: none;
}
#wrapper.toggled #sidebar-wrapper {
    width: 100%;
    max-width: 260px;
    box-shadow: 4px 0px 30px rgba(0, 0, 0, 0.35);
}
#page-content-wrapper {
    width: 100%;
    padding-top: 80px;
}
#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -280px;
}
.play,
.play a {
    color: #FFFFFF;
}
.play .btn-success {
    background-color: #000;
}
/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/
.sidebar-nav {
    position: absolute;
    top: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    height: 100%;
}
.sidebar-nav li {
    line-height: 34px;
    position: relative;
    display: inline-block;
    width: 100%;
}
.sidebar-nav li {
    font-size: 1.6em;
    text-decoration: none;
    padding: 10px 15px 10px 30px;
    color: #ddd;
}
.sidebar-nav li:nth-child(2) {
    padding-top: 15px;
}
.sidebar-nav li:last-child {
    position: absolute;
    bottom: 0;
    left: 0;
    padding-bottom: 30px;
}
.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #ddd;
}
.sidebar-nav li.sidebar-brand a {
    padding: 25px 0 0 20px;
}
.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus {
    text-decoration: none;
    color: #fff;
    background-color: transparent;
}

.sidebar-nav .dropdown-menu {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 15px 30px;
    border: none;
    border-radius: 0;
    background-color: rgba(29, 95, 190, 1);
    box-shadow: none;
    max-height: 550px;
    overflow-y: auto;
}
.sidebar-nav .dropdown-menu p {
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: .5px;
    color: #FFF;
}
/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/
.hamburger {
    position: fixed;
    z-index: 999;
    top: 25px;
    display: block;
    width: 32px;
    height: 32px;
    margin-left: 20px;
    border: none;
    background: transparent;
}
.hamburger:hover,
.hamburger:focus,
.hamburger:active {
    outline: none;
}
.hamburger.is-closed:before {
    font-size: 14px;
    line-height: 32px;
    display: block;
    width: 100px;
    content: '';
    -webkit-transition: all .35s ease-in-out;
    -webkit-transform: translate3d(0, 0, 0);
    text-align: center;
    opacity: 0;
    color: #fff;
}
.hamburger.is-closed:hover:before {
    display: block;
    -webkit-transition: all .35s ease-in-out;
    -webkit-transform: translate3d(-100px, 0, 0);
    opacity: 1;
}
.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
}
.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom {
    background-color: #fff;
}
.sidebar-brand a img.is-open,
.logo.is-open {
    opacity: 0;
    -webkit-transition: all .35s;
}
main.is-open {
    opacity: .5;
    -webkit-transition: all .35s;
}
.hamburger.is-closed .hamb-top {
    top: 5px;
    -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed .hamb-middle {
    top: 50%;
    margin-top: -2px;
}
.hamburger.is-closed .hamb-bottom {
    bottom: 5px;
    -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover .hamb-top {
    top: 0;
    -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover .hamb-bottom {
    bottom: 0;
    -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
    background-color: #fff;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom {
    top: 50%;
    margin-top: -2px;
}
.hamburger.is-open .hamb-top {
    -webkit-transition: -webkit-transform .2s cubic-bezier(.73, 1, .28, .08);
    -webkit-transform: rotate(45deg);
}
.hamburger.is-open .hamb-middle {
    display: none;
}
.hamburger.is-open .hamb-bottom {
    -webkit-transition: -webkit-transform .2s cubic-bezier(.73, 1, .28, .08);
    -webkit-transform: rotate(-45deg);
}
.hamburger.is-open:before {
    font-size: 14px;
    line-height: 32px;
    display: block;
    width: 100px;
    content: '';
    -webkit-transition: all .35s ease-in-out;
    -webkit-transform: translate3d(0, 0, 0);
    text-align: center;
    opacity: 0;
    color: #fff;
}
.hamburger.is-open:hover:before {
    display: block;
    -webkit-transition: all .35s ease-in-out;
    -webkit-transform: translate3d(-100px, 0, 0);
    opacity: 1;
}
/*-------------------------------*/
/*            Overlay            */
/*-------------------------------*/
main.is-closed {
    opacity: .2;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.menu-wrapper a {
    color: #FFF;
    float: right;
    display: block;
    padding-left: 15px;
    padding-right: 15px;
}
.menu-wrapper {
    padding-right: 20px;
}
.menu-wrapper a i {
    line-height: 70px;
}
.menu-wrapper a.logo {
    position: absolute;
    right: calc(50% - 145px);
    left: calc(50% - 145px);
}

/** LOGIN **/
.logo-initial {
    position: relative;
    z-index: 4;
    max-height: 105px;
}
.login {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    color: #FFFFFF;
}
.login>div {
    vertical-align: middle;
}
label,
.login a {
    color: #FFFFFF;
}
form {
    padding-top: 0px;
}
.login input {
    margin: 15px 0;
}

.login button i {
    font-size: 80px;
    line-height: 86px;
    color: #FFFFFF;
    display: block;
}
.login button i:hover {
    color: #222;
}
.login .help-block {
    color: #FFF;
    padding: 10px 15px;
    background-color: red;
}

.btn-link {
    color: #FFF;
}
.btn-link:hover {
    opacity: .8;
}
canvas {
    width: 100%;
}

#registrations table {
    background-color: #eaeaea;
    -webkit-transition: all .35s ease-in-out;
}
.table>thead>tr>th {
    font-size: 14px;
    font-weight: 200;
}
.table > tbody > tr > td {
    vertical-align: middle;
    font-size: 14px;
}
.table > tbody > tr > td:first-child {
    font-size: 16px;
    font-weight: 600;
}
.table > tbody > tr > td.verification i,
.table > tbody > tr > td.verification a {
    display: block;
    text-align: center;
}
#registrations .list {
    display: table-row-group;
}
#registrations .list.hide {
    display: none;
}

#registrations, #create {
    /* background-color: #fff; */
    padding-top: 15px;
}
#product-info {
    background-color: #0051b2;
}
#create {
    padding-bottom: 15px;
}
#product-name {
    color: #FFF;
    padding: 0;
    margin: 0;
}
#registrations .search {
    padding: 20px 10px;
    margin: 15px auto;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  border-radius: 50%;
  background-color: transparent;
  border: 0 none;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
}
.btn,
.btn:hover, .bth:active {
    border-radius: 0px;
    border: 0 none;
}
.alert-warning {
    background-color: #efd759;
    border: 0 none;
    color: #333;
}
.hidden {
    display: none;
}



footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 15px;
    color: #fff;
    background-color: #0051b2;
}

footer .charts-container {
    display: block;
    list-style-type: none;
}
footer .charts-container li {
    display: inline-block;
    min-width: 33%;
}
footer .charts-container li .chart-box {
    margin-right: 15px;
}
footer .charts-container li:last-child .chart-box {
    margin-right: 0;
}
footer .chart {
    position: relative;
    max-width: 125px;
    margin: 0 auto;
}

footer .chart .inside-values {
    font-size: 12px;
    position: absolute;
    text-align: center;
    left: calc(50% - 62.5px);
    right: calc(50% - 62.5px);
    top: calc(50% - 18px);
    bottom: calc(50% - 20px);
}
footer .chart .inside-values span:first-child {
    font-size: 21px;
}
footer .chart-title {
    margin: 0 auto;
    text-align: center;
    font-size: 16px;

}
footer .chart-title i {
    display: inline-block;
    margin-top: 2px;
}
footer .well {
    border-radius: 0px;
    background-color: rgba(255, 255, 255, .2);
}
footer .well h3 {
    line-height: 32px;
    letter-spacing: .5px;
    margin: 0;
}
footer .well ul li {
    display: inline-block;
}
footer .well ul {
    padding: 0;
    margin: 0;
    width: 100%;
}
@media(max-width: 767px) {

}
@media(min-width: 768px) {
    input.form-control,
    select.form-control,
    input.form-control {
        height: 60px;
    }
    .btn {
        min-height: 60px;
        line-height: 40px;
    }

    form {
        padding-top: 40px;
    }
    .logo-initial {
        max-height: 250px;
    }
}
@media(min-width: 360px) {
    #registrations .search {
        padding: 20px 10px;
        margin: 15px auto;
    }
    .logo img {
        width: 100%;
        margin-top: 0;
    }
}
@media(min-width: 992px) {
    input.search {
        font-size: 1.2em;
    }
    .logo-initial {
        max-height: 175px;
    }
}
@media(min-width: 1200px) {}
