body,
html {
    height: 100%;
}

.no-gap {
    padding: 0;
}

.trackit {
    background-color: #008adb;
}

.login label {
    color: #fff;
}

.login form {
    padding-top: 40px;
}

.login a {
    margin-top: 20px;
}

.btn-link {
    color: #FFF;
}

.btn-link:hover {
    opacity: .8;
}

canvas {
    width: 100%;
}

#registrations, #create {
    background-color: #fff;
    padding-top: 15px;
}
#product-info {
    background-color: #008adb;
}
#create {
    padding-bottom: 15px;
}

#registrations .search {
    margin-bottom: 15px;
}

footer {
    background-color: #0051b2;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 15px;
    color: #fff;
}
