{% extends 'layouts/private.twig' %}

{% block menu %}
    <a href="{{ path_for('registration.assistants', {'id': product_id}) }}" class="btn-floating btn-large waves-effect waves-light right transparent tooltipped" data-position="right" data-tooltip="Registro de invitados SIN ENTRADA/QR"><i class="mdi mdi-account-plus"></i></a>
    <a href="{{ path_for('product.search', {'id': product_id}) }}" class="btn-floating btn-large waves-effect waves-light right purple tooltipped" data-position="right" data-tooltip="Registro de asistentes insitu REQUIERE ENTRADA/QR"><i class="mdi mdi-magnify"></i></a>
    <a href="{{ path_for('product.laserscan', {'id': product_id}) }}" class="btn-floating btn-large waves-effect waves-light right transparent laser-scan tooltipped" data-position="right" data-tooltip="Escáner de ENTRADAS/QR"><i class="mdi mdi-qrcode-scan"></i></a>
{% endblock %}

{% block content %}
    <main>
        <div class="container">
            <div class="row">
                <div class="col s12 text-center">
                    {% for product in products %}

                        <div class="row">
                            <div class="col s12 m6">
                            <div class="card">
                                <div class="card-image">
                                <img src="images/sample-1.jpg">
                                <span class="card-title">{{ product.name }}</span>
                                <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                                </div>
                                <div class="card-content">
                                </div>
                            </div>
                            </div>
                        </div>
                                        
                        <h4 class="white-text">
                            
                        </h4>
                    {% endfor %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}
