{% extends 'layouts/private.twig' %}

{% block menu %}
    <a href="{{ path_for('registration.assistants', {'id': product_id}) }}" class="btn-floating btn-large waves-effect waves-light right transparent tooltipped" data-position="right" data-tooltip="Registro de invitados SIN ENTRADA/QR"><i class="mdi mdi-account-plus"></i></a>
    <a href="{{ path_for('product.search', {'id': product_id}) }}" class="btn-floating btn-large waves-effect waves-light right purple tooltipped" data-position="right" data-tooltip="Registro de asistentes insitu REQUIERE ENTRADA/QR"><i class="mdi mdi-magnify"></i></a>
    <a href="{{ path_for('product.laserscan', {'id': product_id}) }}" class="btn-floating btn-large waves-effect waves-light right transparent laser-scan tooltipped" data-position="right" data-tooltip="Escáner de ENTRADAS/QR"><i class="mdi mdi-qrcode-scan"></i></a>
{% endblock %}

{% block content %}
    <main>
        <div class="container">
            <div class="row">
                <div class="col s12 text-center">
                    {% for product in products %}
                        <h4 class="white-text">
                            {{ product.name }}
                        </h4>
                    {% endfor %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}
